.header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

li {
  margin: 0 15px;

  @media (max-width: 768px) {
    margin: 10px 0;
  }
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
